<h2>Hi, I'm Jimmy.</h2>

<p>I'm a web developer based out of Brooklyn, NY.

<p>I build <a href="#work">complete web applications</a> with Rails, Django, Javascript, HTML/CSS, and SQL/NoSQL databases.</p>

<p>If you want to know more, here is <%= link_to "my resume", "assets/li.resume.may.2013.pdf" %>.</p>