<div class="about-container">
	<p class="about-intro">Hi, I'm Jimmy.</p>

	<p class="about-body">I'm a web developer based out of Brooklyn, NY.

	<p class="about-body">I've built projects for <a class="magic-link dotted-line" data-name="work" href="#">clients</a> and <a class="magic-link dotted-line" data-name="work" href="#">companies</a> with Ruby/Rails, Python/Django, Javascript/jQuery/Backbone, HTML/CSS, and SQL/NoSQL databases.

	<p class="about-body">I can <a class="magic-link dotted-line" data-name="inquiry" href="#">build something for you</a>.</p>

	<p class="about-body">If you want to know more, you can view <%= link_to "my resume", "assets/li.resume.may.2013.pdf", {class: 'dotted-line', target: "_blank"} %>.</p>

	<p class="about-body">You can also find me at <a class="dotted-line" href="http://www.twitter.com/jyli7" target="_blank">@jyli7</a> and on <a class="dotted-line" href="http://www.linkedin.com/pub/jimmy-li/35/518/a70/" target="_blank">LinkedIn</a>.</p>
</div>