<h2>Hi, I'm Jimmy.</h2>

<p>I'm a web developer based out of New Haven, CT.</p>

<p>I run <a href="http://www.meetqualia.com">Qualia Studios</a>, a web development studio.</p>

<p>We build <a href="#work">complete web applications</a> with Rails, Django, Javascript, HTML/CSS, and SQL/NoSQL databases.</p>

<p>You can also check out <a href="#writing">my writing</a>.</p>