<p class="about-intro"><span class="stronger">Hi</span>, I'm Jimmy.</p>

<p class="about-body">I'm a <span class="stronger">web developer and designer</span> based out of Brooklyn, NY.

<p class="about-body">I've built projects for <span class="stronger">clients</span> and <span class="stronger">companies</span> with Ruby/Rails, Python/Django, Javascript/jQuery/Backbone, HTML/CSS, and SQL and NoSQL databases.

<p class="about-body">I can <a class="stronger magic-link" data-name="inquiry" href="#">build something for you.</a></p>