<div class="about-container">
	<p class="about-intro"><span class="stronger">Hi</span>, I'm Jimmy.</p>

	<p class="about-body">I'm a <span class="stronger">web developer</span> based out of Brooklyn, NY.

	<p class="about-body">I've built projects for <span class="stronger">clients</span> and <span class="stronger">companies</span> with Ruby/Rails, Python/Django, Javascript/jQuery/Backbone, HTML/CSS, and SQL/NoSQL databases.

	<p class="about-body">I can <a class="magic-link dotted-line" data-name="inquiry" href="#">build something for you</a>.</p>

	<p class="about-body">If you want to know more, you can view <%= link_to "my resume", "assets/li.resume.may.2013.pdf", {class: 'dotted-line', target: "_blank"} %>.</p>

	<p class="about-body">You can also find me at <a class="dotted-line" href="http://www.twitter.com/jyli7" target="_blank">@jyli7</a> and on <a class="dotted-line" href="http://www.linkedin.com/pub/jimmy-li/35/518/a70/" target="_blank">LinkedIn</a>.</p>
</div>