<p>Hi, I'm Jimmy.</p>

<p>I'm a web developer based out of Brooklyn, NY.

<p>I build <a href="#work">complete web applications</a> with Rails, Django, Javascript, HTML/CSS, and SQL/NoSQL databases.</p>

<p>I also dabble in web design.</p>
