<p>Hi, I'm Jimmy.</p>

<p>I'm a web developer based out of Brooklyn, NY.

<p>I build <a href="#work">complete web applications</a> with Rails, Django, Javascript, HTML/CSS, and SQL/NoSQL databases.</p>

<p>You can find me here:</p>

<div class="svg social-links">
	<a href="http://www.twitter.com/jyli7" class="svg fc-webicon twitter large"></a>
	<a href="http://www.facebook.com/jyl702" class="svg fc-webicon facebook large"></a>
	<a href="http://www.github.com/jyli7" class="svg fc-webicon github large"></a>
	<a href="http://www.linkedin.com/pub/jimmy-li/35/518/a70/" class="svg fc-webicon linkedin large"></a>
	<a href="http://www.quora.com/Jimmy-Li-1" class="svg fc-webicon quora large"></a>
</div>

<p>You can also download my <%= link_to "my resume", "assets/li.resume.may.2013.pdf" %>.</p>