<div class="container">
	<h2>Project Inquiry</h2>
  <p>Interested in working together? Shoot me an email at <a href="mailto:jyl702@gmail.com">jyl702@gmail.com</a>.</p>
  <p>I'm often tied up with projects, but am always open to starting a conversation with potential clients.</p>
</div>