<div class="inquiry-container">
  <p>Interested in working together? Send me a message:</p>
  <form class="message-me-form" action="/mail" method="post">
		<input type="text" placeholder="Name" class="name-field" name="name"></input>
		<input type="text" placeholder="Email" class="email-field" name="email"></input>
		<textarea placeholder="Message" class="message-field" name="message"></textarea>
		<button class="message-me bttn">Send</button>
	</form>
</div>