<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">

	<title>Endless Input</title>

	<meta name="description" lang="en" content="Endless Input is a jQuery script that lets you ask for user input in a slick, endless way."/>
	<meta name="author" content="Jimmy Li">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body class="endless-input">
	<section class="endless-input-section intro">
		<h1 class="endless-input-header">Endless Input</h1>
		<p>A slick, endless way of accepting user input</p>
		<p>Instructions and source available on <a href="http://www.github.com/jyli7/endless-input">github.</a>
	</section>

	<section class="endless-input-section example">
		<form class="my-form" action="#">
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="text" name="my-data" data-endless="1" class="example-input"></input>
			<input type="submit" value="Submit" class="my-submit-button button radius">
		</form>
	</section>
</body>
</html>