<header class="main-header">
	<div class="sixteen columns alpha">
		<ul class="menu">
			<li class="menu-item"><%= link_to "JYL Creations", root_path, {class: 'logo'} %></li>
			<li class="menu-item"><%= link_to "Works", '#' %></li>
			<li class="menu-item"><%= link_to "About", '#' %></li>
			<li class="menu-item"><%= link_to "Writing", '#' %></li>
		</ul>
	</div>
</header>