<div class="work section-item active">
    <%= render 'home/work.html.erb', {items: @items} %>
</div>

<div class="about section-item stage-right">
	<%= render 'home/about.html.erb', {items: @items} %>
</div>

<div class="writing section-item stage-right">
	<div>Writing</div>
</div>

<div class="inquiry section-item stage-right">
	<div>Inquiry</div>
</div>