<div class="work section-item active">
    <%= render 'home/work.html.erb', {items: @items} %>
</div>

<div class="about section-item stage-right">
	<%= render 'home/about.html.erb', {items: @items} %>
</div>

<div class="writing section-item stage-right">
	<%= render 'home/writing.html.erb', {posts: @posts} %>
</div>

<div class="inquiry section-item stage-right">
	<%= render 'home/inquiry.html.erb', {posts: @posts} %>
</div>