<p id="notice"><%= notice %></p>

<h2 class="post-title">
  <%= @post.title %>
</h2>

<div class="post-body">
	<%= @post.body.html_safe %>
</div>

<div class="last-edited">
	Last edited on <%= @post.updated_at.strftime("%B %d, %Y") %>
</div>

<a href="/#writing" class="left-arrow-wrapper">
	<div class='left-arrow'></div>
</a>