// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$body-background: #161616;
$link-color: #FFFFFF;
$light-teal: #85E0FF;

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

body {
	background-color: $body-background;
	// background-image: image-url('tiny_grid.png');
}

h3 {
	color: white;
	font-variant: small-caps;
}
 
.main-header {
	padding: 30px 0px;
}

.menu {
	margin-bottom: 0px;
	font-size: 20px;
}

.right-menu {
	border-bottom: 1px solid #eee;
	padding: 0 0 5px 0;
	box-sizing: border-box;

	li {
		display: inline;
		margin-left: 70px;
	}

	li:first-child {
		margin-left: 0px;
	};
}
	
a, a:visited {
	color: $link-color;
	font-variant: small-caps;
	text-decoration: none;
	@include transition(all 0.2s linear);

	&:hover {
		color: $light-teal;
		@include transition(all 0.7s ease);
	};
}

.right {
	float: right;
}

.work-items {
	margin-top: 40px;
}

.work-item {
	float: left;
	margin: 0px 0px 35px 0;
	width: 100%;
	border: 3px solid #E6E6E6;
	height: 250px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.work-img {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	@include transition(top 0.5s linear);

	&:hover {
		top: -360px;
		opacity: 1;
		@include transition(top 1.2s ease-in);
	};
}