// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$body-background: #202020;
$link-color: #FFFFFF;
$link-hover-color: #CCD6EB;

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

body {
	background-color: $body-background;
	color: white;
	// background-image: image-url('tiny_grid.png');
}

.left-menu {
	a {
		font-size: 34px;
		position: relative;
		top: 4px;
		font-family: "Open Sans", arial, sans-serif;
	}
}

h3 {
	color: white;
	font-size: 24px;
	font-family: 'Brawler', Palatino, Lucida Grande, Helvetica, sans-serif;
}
 
.main-header {
	padding: 45px 0px;
}


.stronger {
	font-weight: 600;
}

.menu {
	margin-bottom: 0px;
	font-size: 20px;
}

.right-menu {
	a { font-variant: small-caps; }
}

.logo {
	font-variant: none;
}

.right-menu {
	li.active {
		border-bottom: 1px solid #eee;
	}
	
	padding: 0 0 5px 0;
	box-sizing: border-box;

	li {
		display: inline;
		margin-left: 40px;
	}

	li:first-child {
		margin-left: 0px;
	};
}
	
a, a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition(all 0.2s linear);

	&:hover {
		color: $link-hover-color;
		@include transition(all 0.5s ease);
	};
}

.right {
	float: right;
}

.left {
	float: left;
}

.section-item {
	margin-top: 40px;
}

.work-item-container {
	padding: 35px 0px 0px 0px;
	width: 300px;
	height: 200px;
	float: left;
	margin-right: 30px;
	position: relative;
}

.work-item-container:nth-child(3n) {
	margin-right: 0px;
};

.work-item-container:first-child {
	border: none;
};

.work-item {
	float: left;
	width: 100%;
	border: 2px solid #E6E6E6;
	height: 200px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.work-item-description {
	font-size: 16px;
	color: white;
	width: 95%;
	height: 85%;
	position: absolute;
	opacity: 1;

	.description {
		position: absolute;
		top: 9px;
		left: 10px;
	}
	.tech {
		position: absolute;
		bottom: 9px;
		left: 11px;
		font-size: 15px;
	}

	&.left {
		font-style: italic;
	}
}

.work-img {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
	z-index: 1;
	@include transition(opacity 0.2s linear);

	&:hover {
		opacity: 0.1;
		@include transition(opacity 0.3s linear);
	};
}

.strong {
	font-weight: bold;
}

#main {
	position: relative;
}

.section-item {
	position: absolute;
	&.stage-left {
		left: -3500px;
		@include transition(left 0.7s linear);
	}

	&.stage-right {
		left: 3500px;
		@include transition(left 0.7s linear);
	}
	
	&.active {
		left: 0px;
		@include transition(left 0.7s linear);
	}

}

.about-intro, .about-body {
	font-size: 22px;
	line-height: 1.3em;
}

.dotted-line {
	border-bottom: 1px dotted #ddd;
}

.about-container {
	padding-top: 10px;
}