// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

body {
	background-color: white;
	// background-image: image-url('tiny_grid.png');
}

.main-header {
	padding: 30px 0px;
	border-bottom: 1px solid #eee;
}

.menu {
	margin-bottom: 0px;
	
	li {
		display: inline;
		margin-right: 70px;
	}

	.logo {
		margin-right: 100px;
	}
}

a, a:visited {
	color: #aaaaaa;
	text-decoration: none;
	font-size: 18px;
	@include transition(all 0.2s linear);

	&:hover {
		color: #4DBBB9;
		opacity: 0.8;
		@include transition(all 0.7s ease);
	};
}

.work-items {
	margin-top: 40px;
}

.work-item {
	float: left;
	margin: 0px 20px 35px 0;
	width: 95%;
	border: 5px solid black;
	height: 250px;
	position: relative;
	overflow: hidden;
}

.work-img {
	position: absolute;
	top: 0px;
	left: 0px;
	@include transition(top 0.5s linear);

	&:hover {
		top: -360px;
		@include transition(top 1.2s ease-in);
	};
}