@import 'mixins.css.scss';

$body-background: #FDFDFD;
$link-color: #003399;
$link-hover-color: #5F7EBF;
$menu-link-hover-color: #333333;
$header-wrap-color: #FDFDFD;
$nav-border-color: #636363;
$dark-blue-border: #CDD7EB;
$light-grey-border: #F0F0F0;
$dark-grey-border: #DCDCDC;

body {
	background-color: $body-background;
}

.container {
	margin: 0 auto;
	display: block;
	width: 580px;
	position: relative;
}

.fc-webicon {
	margin-right: 5px;
}

.social-links {
	a {
		margin-right: 5px;
		position: relative;
	}

	a:hover {
		bottom: 3px;
	};
	margin: 15px 0;
	position: relative;
	left: 39px;
}

.photo-port {
	padding: 2px;
	width: 120px;
	height: 120px;
	border: 3px solid $light-grey-border;
	border-radius: 100px;
	display: inline-block;
	position: absolute;
	background: #F3F6FC;
	top: 16px;
	left: -6px;
}

.loading {
	opacity: 0.7;
}

.hidden {
	display: none;
}

.name {
	position: absolute;
	text-transform: uppercase;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	color: #001F5C;
	margin: 0;
	top: 64px;
	left: 156px;
	font-weight: normal;
	font-size: 42px;
	letter-spacing: 1px;
}

.jimmy-face {
	width: 120px;
	height: 120px;
	border-radius: 64px;
	-moz-border-radius: 64px;
}

h3 {
	font-size: 26px;
}
 
.main-header {
	height: 135px;
	border-bottom: 3px solid $light-grey-border;
	background: #F8FAFC;
}


.stronger {
	font-weight: 600;
}

.menu {
	margin-bottom: 0px;
	font-size: 20px;
}

a, a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition(all 0.1s linear);

	&:hover {
		color: $link-hover-color;
		@include transition(all 0.2s ease);
	};
}

.right {
	float: right;
}

.left {
	float: left;
}

.work-item-container {
	padding: 2px;
	width: 46%;
	height: 150px;
	position: relative;
	border: 1px solid $dark-blue-border;
	margin: 10px 0 10px 0;
	background: #262626;
}

.work-item {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.pivotal-labs-item {
	background-color: white;
	width: 100%;

	img {
		position: absolute;
		top: -13px;
		left: 15px;
	}
}

.work-item-description {
	font-family: 'Brawler', Palatino, Lucida Grande, Helvetica, sans-serif;
	font-size: 16px;
	color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
	top: 0px;
	line-height: 1.5em;


	.description {
		position: absolute;
		top: 12px;
		left: 12px;
	}

	.work-item-name {
		margin-bottom: 4px;
		font-weight: bold;
		font-size: 22px;
	}

	.tech {
		position: absolute;
		bottom: 12px;
		left: 12px;
		font-size: 15px;
	}
}

.work-item {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 0px;
	opacity: 1;
	z-index: 1;
	@include transition(opacity 0.2s linear);

	&:hover {
		opacity: 0.1;
		@include transition(opacity 0.3s linear);
	};
}

.strong {
	font-weight: bold;
}

#main {
	position: relative;
}

.dotted-line {
	border-bottom: 1px dotted #ddd;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 32px;
	margin-bottom: 25px;
}

.body-container {
	margin-top: 50px;
	font-family: 'Brawler', Palatino, Lucida Grande, Helvetica, sans-serif;
}

.section {
	font-size: 22px;
	color: #181818;
	line-height: 1.4em;
	padding-bottom: 15px;
	overflow: auto;
}

.section.with-border {
	border-top: 3px solid #DCDCDC;
	padding-top: 35px;
}

.centered {
  position: fixed;
  top: 45%;
  left: 44%;
}

.opener {
	font-family: "Vollkorn", arial, sans-serif;
	font-size: 35px;
}

.bttn {
	font-size: 15px;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-top: 24px;
}

.thank-you-msg {
	display: none;
}

.parsley-error-list {
	display: none !important;
}

.parsley-error {
	border: 1px solid red !important;
	@include transition(border 0.7s linear);
}

.sourcecode {
	display: block;
	font: 1em 'Courier New', Courier, Fixed, monospace;
	font-size: 100%;
	color: #000;
	background: #fff url(http://www.estudiowas.com.ar/images/preback.jpg) no-repeat left top;
	overflow: auto;
	text-align: left;
	border: 1px solid #5581C0;
	padding: 10px 20px 10px 30px;
	margin: 1em 0 1em 0;
	line-height: 17px;
	font-weight: normal!important;
}

footer {
	padding: 20px 0 30px 0;
	border-top: 3px solid $light-grey-border;
	.container {
		margin: 0px auto;
		width: 40%;
	}
	.legal {
		text-align: center;
	}	
}


// ISOTOPE

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}