<div class="container">
	<div class="svg social-links">
		<a href="http://www.twitter.com/jyli7"><img src="/assets/twitter.png"></a>
		<a href="http://www.facebook.com/jyl702"><img src="/assets/facebook.png"></a>
		<a href="http://www.github.com/jyli7"><img src="/assets/github.png"></a>
		<a href="http://www.linkedin.com/pub/jimmy-li/35/518/a70/"><img src="/assets/linkedin.png"></a>
	</div>

	<div class="legal">
		<div class="email"><a href="mailto:jyl702@gmail.com">jyl702@gmail.com</a></div>
		<div class="copyright">&copy; JYL Creations, LLC.</div>
	</div>
</div>