<div class="six columns alpha">
	<ul class="menu left-menu">
		<li class="menu-item">
			<a href="/" class="logo"><span class="stronger">Jimmy Y. Li</a>
		</li>
	</ul>
</div>

<div class="omega right">
	<ul class="menu right-menu">
		<li class="menu-item active"><%= link_to "Work", '#', {"data-name" => 'work'} %></li>
		<li class="menu-item"><%= link_to "About", '#', {"data-name" => 'about'} %></li>
		<li class="menu-item"><%= link_to "Writing", '#', {"data-name" => 'writing'} %></li>
		<li class="menu-item"><%= link_to "Project Inquiry", '#', {"data-name" => 'inquiry'} %></li>
	</ul>
</div>
