<div class="six columns alpha">
	<ul class="menu left-menu">
		<li class="menu-item">
			<a href="/" class="logo"><span class="stronger">Jimmy Y. Li</a>
		</li>
	</ul>
</div>

<div class="omega right">
	<ul class="menu right-menu">
		<li class="menu-item active" data-name="work"><%= link_to "Work", '#', {"data-name" => 'work', 'class' => 'magic-link'} %></li>
		<li class="menu-item" data-name="about"><%= link_to "About", '#', {"data-name" => 'about', 'class' => 'magic-link'} %></li>
		<li class="menu-item" data-name="writing"><%= link_to "Writing", '#', {"data-name" => 'writing', 'class' => 'magic-link'} %></li>
		<li class="menu-item" data-name="inquiry"><%= link_to "Project Inquiry", '#', {"data-name" => 'inquiry', 'class' => 'magic-link'} %></li>
	</ul>
</div>
